.banner {
  margin: 0 1rem;
  font-size: 1rem;
}

.registerButton {
  background: var(--userMessage);
  border-radius: 8px;
  border: none;
  color: var(--text);
  cursor: pointer;
  padding: 4px;
  font-size: 1rem;
  font-weight: 600;
  max-width: 300px;
  transition: background-color 0.5s ease, border 0.5s ease, color 0.5s ease;
}

.registerButton:hover {
  background-color: var(--text);
  color: var(--userMessage);
  border: var(--border) solid 1px;
}
